* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
  margin-left: auto;
  margin-right: auto;
}

body {
  margin: 0;
  background-color: #1bbc9b;
}

.login-form {
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  position: absolute;
  margin: -150px;
  text-align: left;
  width: 300px;
  background-color: #eeeff1;
}

.text-fielda {
  font-size: 14px;
  border: 0 solid black;
  width: 260px;
  border-radius: 5px;
  margin: 20px 20px 10px 20px;
  padding: 10px 10px 10px 10px;
}

.text-fieldb {
  font-size: 14px;
  border: 0 solid black;
  width: 260px;
  border-radius: 5px;
  margin: 0px 20px 10px 20px;
  padding: 10px 10px 10px 10px;
}

.submit-btn {
  font-size: 14px;
  background-color: #1bbc9b;
  color: white;
  border: 0 solid black;
  width: 260px;
  border-radius: 5px;
  margin: 0px 20px 30px 20px;
  padding: 10px 10px 10px 10px;
}

.links {
  text-align: center;
  margin-bottom: 20px;
}

.links a {
  font-size: 12px;
  color: #9b9b9b;
  margin-bottom: 20px;
}
